<%= form_with(model: [fishbone_analysis, amef_analysis], local: true) do |form| %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Cause</th>
        <th>Severity</th>
        <th>Frequency</th>
        <th>Detectability</th>
      </tr>
      </thead>
      <tbody>
      <% @fishbone_analysis.fishbone_categories.each do |fishbone_category| %>
        <% fishbone_category.fishbone_causes.each do |fishbone_cause| %>
          <%= form.fields_for :amef_components do |component_form| %>
            <%= component_form.hidden_field :fishbone_cause_id, value: fishbone_cause.id %>
            <tr>
              <td><%= fishbone_cause.cause %></td>
              <td><%= component_form.select :severity, (1..10), {include_blank: '...'} %></td>
              <td><%= component_form.select :frequency, (1..10), {include_blank: '...'} %></td>
              <td><%= component_form.select :detectability, (1..10), {include_blank: '...'} %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default pull-right' %>
  </div>
<% end %>
