<h1><%= @amef_analysis %></h1>
<div class="table-responsive">
  <table class="table table-striped" id="mytable">
    <thead>
      <tr>
        <th><%= sort_link "cause", "Causa" %></th>
        <th><%= sort_link "severity", "Severidad" %></span></th>
        <th><%= sort_link "frequency", "Frecuencia" %></th>
        <th><%= sort_link "detectability", "Detectabilidad" %></th>
        <th><%= sort_link "total", "Total" %></th>
        <th><%= sort_link "percentage", "Riesgo" %></th>
        <th>Plan de acci칩n</th>
      </tr>
    </thead>
    <tbody>
      <% @amef_components.each do |amef_component| %>
        <tr>
          <td><%= amef_component.fishbone_cause.cause %></td>
          <td><%= amef_component.severity %></td>
          <td><%= amef_component.frequency %></td>
          <td><%= amef_component.detectability %></td>
          <td><%= amef_component.total %></td>
          <td><%= amef_component.percentage %>%</td>
          <td>
            <% if amef_component.action_plan %>
              <%= link_to 'Ver plan de acci칩n', amef_component_action_plan_path(amef_component, amef_component.action_plan) %>
            <% else %>
              <%= link_to 'A침adir plan de acci칩n', new_amef_component_action_plan_path(amef_component) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @verMas %>
      <a href="?" id="verMenos">ver menos</a>
  <%else%>
      <a href="?all=true" id="verMas">ver mas</a>
  <% end %>

</div>
