<h1><%= @amef_analysis %></h1>
<div class="table-responsive">
  <table class="table table-striped" id="mytable">
    <thead>
      <tr>
        <th><%= sort_link "cause", "Causa" %></th>
        <th><%= sort_link "severity", "Severidad" %></span></th>
        <th><%= sort_link "frequency", "Frecuencia" %></th>
        <th><%= sort_link "detectability", "Detectabilidad" %></th>
        <th><%= sort_link "total", "Total" %></th>
        <th><%= sort_link "percentage", "Porcentaje" %></th>
      </tr>
    </thead>
    <tbody>
      <% @amef_components.each do |amef_component| %>
        <tr>
          <td><%= amef_component.fishbone_cause.cause %></td>
          <td><%= amef_component.severity %></td>
          <td><%= amef_component.frequency %></td>
          <td><%= amef_component.detectability %></td>
          <td><%= amef_component.total %></td>
          <td><%= amef_component.percentage %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="?all=true" id="verMas">ver mas</a>
  <a href="?" id="verMenos" style="display: none">ver menos</a>
  <script>
    if(window.location.search.slice(1).split("=")[1])
    {
        var x = document.getElementById("verMenos");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $('#verMas').toggle();
    }
  </script>
</div>
