<h1><%= t('.title') %></h1>

<%= form_for(@employee, url: { action: 'update_password' } ) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@employee.errors.count, 'error') %> prohibited this changes from being saved:</h2>

      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t(:save_changes), class: 'btn btn-default pull-right' %>
  </div>
<% end %>