<h1><%= t('.title') %></h1>

<%= form_for_filterrific @filterrific do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.text_field :by_name,
                            placeholder: t(:filter_by),
                            id: :name,
                            class: 'filterrific-periodically-observed form-control' %>
        <%= form.text_field :by_identification,
                            placeholder: t(:filter_by),
                            id: :identification,
                            class: 'hide filterrific-periodically-observed form-control' %>
        <%= form.text_field :by_position,
                            placeholder: t(:filter_by),
                            id: :position,
                            class: 'hide filterrific-periodically-observed form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.select :filter,
                        Employee::AVAILABLE_FILTERS.map { |filter| [Employee.humanize_filter(filter), filter] },
                        { selected: params[:filter] || Employee::AVAILABLE_FILTERS.first },
                        id: :available_filters,
                        onchange: 'changeFilters()',
                        class: 'form-control' %>
      </div>
    </div>
    <%= render_filterrific_spinner %>
  </div>
<% end %>

<%= render 'list', employees: @employees %>

<div>
  <%= link_to t('.new_employee'), new_employee_path, class: 'btn btn-default' %>
</div>
