<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :effective_date %>
        <div class="input-group date" id="effective-date-picker">
          <%= form.text_field :effective_date, id: :complaint_effective_date, required: true, class: 'form-control' %>
          <span class="input-group-addon">
            <%= fa_icon 'calendar' %>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, id: :complaint_description, rows: 5, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :review_date %>
        <div class="input-group date" id="review-date-picker">
          <%= form.text_field :review_date, id: :complaint_review_date, required: true, class: 'form-control' %>
          <span class="input-group-addon">
            <%= fa_icon 'calendar' %>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :source %>
        <%= form.text_field :source, id: :complaint_source, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :source_email %>
        <%= form.email_field :source_email, id: :complaint_source_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :source_contact_info %>
        <%= form.text_area :source_contact_info, id: :complaint_source_contact_info, rows: 3, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <%= form.label :classification %>
        <%= form.select :classification, Complaint.classifications.map { |c| [c[0].humanize, c[0]] }, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :company %>
        <%= form.select :company, Complaint.companies.map { |c| [c[0].humanize, c[0]] }, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :employee_id, 'Employee in charge' %>
        <%= form.collection_select :employee_id, Employee.all, :id, :to_s, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :contact_employee_id, 'Contact employee' %>
        <%= form.collection_select :contact_employee_id, Employee.all, :id, :to_s, { prompt: 'Please select if needed' }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :product_id %>
        <%= form.collection_select :product_id, Product.all, :id, :to_s, { prompt: 'Please select if needed' }, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= form.label :batch_number %>
        <%= form.text_field :batch_number, id: :complaint_batch_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :expiration_date %>
        <div class="input-group date" id="expiration-date-picker">
          <%= form.text_field :expiration_date, id: :complaint_expiration_date, class: 'form-control' %>
          <span class="input-group-addon">
            <%= fa_icon 'calendar' %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-default pull-right' %>
  </div>

  <script type="text/javascript">
      $(function () {
          $('#effective-date-picker').datetimepicker({
              format: 'YYYY-MM-DD'
          });
          $('#review-date-picker').datetimepicker({
              format: 'YYYY-MM-DD'
          });
          $('#expiration-date-picker').datetimepicker({
              format: 'YYYY-MM-DD'
          });
      });
  </script>
<% end %>
