<h1><%= t('.title') %></h1>

<%= form_for_filterrific @filterrific do |form| %>
  <div class="row well">
    <div class="col-md-10 col-xs-12">
      <h4>Filtrar por...</h4>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="form-group">
        <%= form.select :by_status,
                        @filterrific.select_options[:by_status],
                        { include_blank: 'Estado...' },
                        class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="form-group">
        <%= form.text_field :by_source,
                            placeholder: 'Fuente...',
                            class: 'filterrific-periodically-observed form-control' %>
      </div>
      <div class="form-group">
        <%= form.text_field :by_batch_number,
                            placeholder: 'Lote...',
                            class: 'filterrific-periodically-observed form-control' %>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="form-group">
        <div class="input-group date" id="effective_date_gte_picker">
          <%= form.text_field :effective_date_gte,
                              placeholder: 'Fecha efectiva después de...',
                              id: :effective_date_gte,
                              class: 'form-control filterrific-periodically-observed' %>
          <span class="input-group-addon">
          <%= fa_icon 'calendar' %>
        </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group date" id="review_date_gte_picker">
          <%= form.text_field :review_date_gte,
                              placeholder: 'Fecha de revisión después de...',
                              id: :review_date_gte,
                              class: 'form-control filterrific-periodically-observed' %>
          <span class="input-group-addon">
          <%= fa_icon 'calendar' %>
        </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="form-group">
        <div class="input-group date" id="effective_date_lt_picker">
          <%= form.text_field :effective_date_lt,
                              placeholder: 'Fecha efectiva antes de...',
                              id: :effective_date_lt,
                              class: 'form-control filterrific-periodically-observed' %>
          <span class="input-group-addon">
          <%= fa_icon 'calendar' %>
        </span>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group date" id="review_date_lt_picker">
          <%= form.text_field :review_date_lt,
                              placeholder: 'Fecha de revisión antes de...',
                              id: :review_date_lt,
                              class: 'form-control filterrific-periodically-observed' %>
          <span class="input-group-addon">
          <%= fa_icon 'calendar' %>
        </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="form-group">
        <%= form.select :by_classification,
                        @filterrific.select_options[:by_classification],
                        { include_blank: 'Clasificación...' },
                        class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.select :by_product,
                        @filterrific.select_options[:by_product],
                        { include_blank: 'Producto...' },
                        class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="form-group">
        <%= form.select :by_company,
                        @filterrific.select_options[:by_company],
                        { include_blank: 'Compañía...' },
                        class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.select :by_employee,
                        @filterrific.select_options[:by_employee],
                        { include_blank: 'Empleado...' },
                        class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= render_filterrific_spinner %>
<% end %>

<%= render 'list', complaints: @complaints %>

<% if current_employee.admin %>
  <%= link_to t('.new_complaint'), new_complaint_path, class: 'btn btn-default' %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#effective_date_lt_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#review_date_lt_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#effective_date_gte_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#review_date_gte_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
