<h1><%= t('.title') %> <%= @complaint %></h1>

<div class="row">
  <div class="col-md-12">
    <h3><%= t('.description') %></h3>
    <p><%= @complaint.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-6">
    <h4><%= t('.status') %></h4>
    <p><%= Complaint.human_enum_name(:status, @complaint.status) %></p>
  </div>

  <div class="col-md-3 col-xs-6">
    <h4><%= t('.classification') %></h4>
    <p><%= Complaint.human_enum_name(:classification, @complaint.classification) %></p>
  </div>

  <div class="col-md-3 col-xs-6">
    <h4><%= t('.effective_date') %></h4>
    <p><%= @complaint.effective_date %></p>
  </div>

  <div class="col-md-3 col-xs-6">
    <h4><%= t('.review_date') %></h4>
    <p><%= @complaint.review_date %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <h4><%= t('.employee_in_charge') %></h4>
    <p><%= @complaint.employee %></p>
  </div>

  <div class="col-md-6 col-xs-12">
    <% if @complaint.contact_employee.present? %>
      <h4><%= t('.contact_employee') %></h4>
      <p><%= @complaint.contact_employee %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <h4><%= t('.source') %></h4>
    <p><%= @complaint.source %></p>
  </div>

  <div class="col-md-4 col-xs-12">
    <% if @complaint.source_email.present? %>
      <h4><%= t('.source_email') %></h4>
      <p><%= @complaint.source_email %></p>
    <% end %>
  </div>

  <div class="col-md-4 col-xs-12">
    <% if @complaint.source_contact_info.present? %>
      <h4><%= t('.source_contact_info') %></h4>
      <p><%= @complaint.source_contact_info %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-12">
    <h4><%= t('.product') %></h4>
    <p><strong><%= @complaint.product_name %></strong></p>
  </div>

  <div class="col-md-4 col-xs-12">
    <% if @complaint.batch_number.present? %>
      <h4><%= t('.batch_number') %></h4>
      <p><%= @complaint.batch_number %></p>
    <% end %>
  </div>

  <div class="col-md-4 col-xs-12">
    <% if @complaint.expiration_date.present? %>
      <h4><%= t('.expiration_date') %></h4>
      <p><%= @complaint.expiration_date %></p>
    <% end %>
  </div>
</div>

<div class="row margin-bottom">
  <div class="col-md-4 col-xs-12">
    <h3><%= t('.supporting_info') %></h3>

    <ul class="list-group">
      <% @complaint.supports.each do |support| %>
        <div class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <strong><%= support.description %></strong>
            </div>
            <div class="col-md-4">
              <%= link_to support.support_file.url, target: '_blank', class: 'btn btn-default' do %>
                <%= fa_icon 'download' %>
              <% end %>
              <%= link_to edit_complaint_support_path(support.complaint, support), class: 'btn btn-default' do %>
                <%= fa_icon 'pencil-square-o' %>
              <% end %>
              <%= link_to complaint_support_path(support.complaint, support), method: :delete, data: { confirm: t(:confirmation_question) }, class: 'btn btn-default' do %>
                <%= fa_icon 'trash' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>

    <%= link_to t('.add_supporting_info'), new_complaint_support_path(@complaint), class: 'btn btn-default' %>
  </div>

  <div class="col-md-4 col-xs-12">
    <h3><%= t('.analyses') %></h3>
    <ul class="list-group">
      <% @complaint.fishbone_analyses.each do |fishbone_analysis| %>
        <li class="list-group-item"><%= link_to fishbone_analysis, complaint_fishbone_analysis_path(@complaint, fishbone_analysis) %></li>
        <% if fishbone_analysis.amef_analysis %>
          <li class="list-group-item"><%= link_to fishbone_analysis.amef_analysis, fishbone_analysis_amef_analysis_path(fishbone_analysis, fishbone_analysis.amef_analysis) %></li>
        <% end %>
      <% end %>
      <% @complaint.eight_ms_analyses.each do |eight_m_analysis| %>
        <li class="list-group-item"><%= link_to eight_m_analysis, complaint_eight_ms_analysis_path(@complaint, eight_m_analysis) %></li>
      <% end %>
    </ul>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup aria-expanded>
        <%= t('.add_analysis') %> <%= fa_icon('caret-down') %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <li>
          <%= link_to t('.fishbone_analysis'), new_complaint_fishbone_analysis_path(@complaint) %>
        </li>
        <li>
          <%= link_to t('.eight_ms_analysis'), new_complaint_eight_ms_analysis_path(@complaint) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 col-xs-12">
    <h3>Planes de acción</h3>
    <ul class="list-group">
      <% @complaint.fishbone_analyses.each do |fishbone_analysis| %>
        <% fishbone_analysis&.amef_analysis&.amef_components&.each do |amef_component| %>
          <% if amef_component.action_plan %>
            <li class="list-group-item"><%= link_to amef_component.action_plan, amef_component_action_plan_path(amef_component, amef_component.action_plan) %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <%= link_to t(:back), complaints_path, class: 'btn btn-default' %>
  <% if current_employee.admin %>
    <%= link_to t('.edit'), edit_complaint_path(@complaint), class: 'btn btn-default pull-right' %>
  <% end %>
</div>
