<h1>Complaint details</h1>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <h4>Source</h4>
    <p><%= @complaint.source %></p>

    <h4>Description</h4>
    <p><%= @complaint.description %></p>

    <h4>Classification</h4>
    <p><%= @complaint.classification.humanize %></p>

    <h4>Effective date</h4>
    <p><%= @complaint.effective_date %></p>

    <h4>State</h4>
    <p><%= @complaint.pending ? 'Pending' : 'Closed' %></p>

    <h4>Review date</h4>
    <p><%= @complaint.review_date %></p>
  </div>
  <div class="col-md-6 col-xs-12">
    <h4>Product</h4>
    <p><%= @complaint.product_name %></p>

    <h4>Batch number</h4>
    <p><%= @complaint.batch_number %></p>

    <h4>Expiration date</h4>
    <p><%= @complaint.expiration_date %></p>

    <h4>Employee in charge</h4>
    <p><%= @complaint.employee %></p>
  </div>
</div>

<div>
  <%= link_to 'Back', complaints_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_complaint_path(@complaint), class: 'btn btn-default pull-right' %>
</div>
