<%= form_with(model: [complaint, fishbone_analysis], local: true) do |form| %>
  <% if fishbone_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fishbone_analysis.errors.count, 'error') %> prohibited this fishbone analysis from being saved:</h2>

      <ul>
      <% fishbone_analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :effect %>
    <%= form.text_field :effect, required: true, id: :fishbone_analysis_effect, class: 'form-control' %>
  </div>

  <div class="row" id="categories-container">
    <%= form.fields_for :fishbone_categories do |category_form| %>
      <div class="category-panel col-md-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= category_form.label :category %>
              <%= category_form.text_field :category, required: true, class: 'form-control' %>
            </div>
            <div class="panel panel-default">
              <div class="panel-body" id="causes-container-0">
                <%= category_form.fields_for :fishbone_causes do |cause_form| %>
                  <div class="form-group">
                    <%= cause_form.text_area :cause, required: true, rows: 2, placeholder: 'Cause #1', class: 'form-control' %>
                  </div>
                <% end %>
                <button type="button" onclick="addCause(this)" class="btn btn-default"><%= fa_icon('plus') %> Add cause</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="margin-bottom">
    <button type="button" onclick="addCategory()" class="btn btn-default"><%= fa_icon('plus') %> Add category</button>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default pull-right' %>
  </div>
<% end %>
