<h1>Fishbone Analyses for <%= @complaint %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Effect</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @fishbone_analyses.each do |fishbone_analysis| %>
      <tr>
        <td><%= fishbone_analysis %></td>
        <td>
          <span class="pull-right">
            <%= link_to 'Show', complaint_fishbone_analysis_path(@complaint, fishbone_analysis), class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_complaint_fishbone_analysis_path(@complaint, fishbone_analysis), class: 'btn btn-default' %>
            <%= link_to 'Destroy', complaint_fishbone_analysis_path(@complaint, fishbone_analysis), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= link_to 'New Fishbone Analysis', new_complaint_fishbone_analysis_path(@complaint), class: 'btn btn-default' %>
