<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint:</strong>
  <%= @fishbone_analysis.complaint_id %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @fishbone_analysis.effect %>
</p>

<%= link_to 'Edit', edit_fishbone_analysis_path(@fishbone_analysis) %> |
<%= link_to 'Back', fishbone_analyses_path %>
