<%= form_with(model: [complaint, five_m_analysis], local: true) do |form| %>
  <% if five_m_analysis.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(five_m_analysis.errors.count, "error") %> prohibited this five m analysis from being saved:</h2>

      <ul>
      <% five_m_analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :consequence %>
    <%= form.text_area :consequence, required: true, rows: 3, class: 'form-control', id: :five_m_analysis_consequence %>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= form.label :manpower %>
        <%= form.text_area :manpower, rows: 5, class: 'form-control', id: :five_m_analysis_manpower %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= form.label :machines %>
        <%= form.text_area :machines, rows: 5, class: 'form-control', id: :five_m_analysis_machines %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= form.label :materials %>
        <%= form.text_area :materials, rows: 5, class: 'form-control', id: :five_m_analysis_materials %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= form.label :methods %>
        <%= form.text_area :methods, rows: 5, class: 'form-control', id: :five_m_analysis_methods %>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="form-group">
        <%= form.label :management %>
        <%= form.text_area :management, rows: 5, class: 'form-control', id: :five_m_analysis_management %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-default pull-right' %>
  </div>
<% end %>
