<h1>Five M Analyses for complaint <%= @complaint %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Consequence</th>
      <th>Manpower</th>
      <th>Machines</th>
      <th>Materials</th>
      <th>Methods</th>
      <th>Management</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @five_m_analyses.each do |five_m_analysis| %>
      <tr>
        <td><%= five_m_analysis.consequence %></td>
        <td><%= five_m_analysis.manpower %></td>
        <td><%= five_m_analysis.machines %></td>
        <td><%= five_m_analysis.materials %></td>
        <td><%= five_m_analysis.methods %></td>
        <td><%= five_m_analysis.management %></td>
        <td>
          <span class="pull-right">
            <%= link_to 'Show', complaint_five_m_analysis_path(@complaint, five_m_analysis) %>
            <%= link_to 'Edit', edit_complaint_five_m_analysis_path(@complaint, five_m_analysis) %>
            <%= link_to 'Destroy', complaint_five_m_analysis_path(@complaint, five_m_analysis), method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Five M Analysis', new_complaint_five_m_analysis_path(@complaint) %>
