<h1><%= @five_m_analysis %></h1>

<h4>Consequence</h4>
<p>
  <%= @five_m_analysis.consequence %>
</p>

<div class="row">
  <div class="col-md-4">
    <h4>Manpower</h4>
    <p><%= @five_m_analysis.manpower %></p>
  </div>
  <div class="col-md-4">
    <h4>Machines</h4>
    <p><%= @five_m_analysis.machines %></p>
  </div>
  <div class="col-md-4">
    <h4>Materials</h4>
    <p><%= @five_m_analysis.materials %></p>
  </div>
  <div class="col-md-4">
    <h4>Methods</h4>
    <p><%= @five_m_analysis.methods %></p>
  </div>
  <div class="col-md-4">
    <h4>Management</h4>
    <p><%= @five_m_analysis.management %></p>
  </div>
</div>

<div>
  <%= link_to 'Back', complaint_path(@complaint), class: 'btn btn-default' %>
  <span class="btn-group pull-right" role="group" aria-label="actions">
    <%= link_to 'Edit', edit_complaint_five_m_analysis_path(@complaint, @five_m_analysis), class: 'btn btn-default' %>
    <%= link_to 'Delete', complaint_five_m_analysis_path(@complaint, @five_m_analysis), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </span>
</div>
