<h1><%= t('.title') %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('.support_file') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.complaint') %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @supports.each do |support| %>
      <tr>
        <td><%= link_to t('.download', filename: support.support_file.file.filename), support.support_file.url %></td>
        <td><%= support.description %></td>
        <td><%= link_to @complaint, complaint_path(@complaint) %></td>
        <td>
          <span class="pull-right">
            <%= link_to t('.show'), complaint_support_path(@complaint, support), class: 'btn btn-default' %>
            <%= link_to t('.edit'), edit_complaint_support_path(@complaint, support), class: 'btn btn-default' %>
            <%= link_to t('.destroy'), complaint_support_path(@complaint, support), method: :delete, data: { confirm: t(:confirmation_question) }, class: 'btn btn-default' %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to t('.new_support'), new_complaint_support_path(@complaint), class: 'btn btn-default' %>
