<h1>Products</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td>
          <span class="pull-right">
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-default' %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>
</div>

<%= will_paginate @products %>
