<h1><%= t('.title') %></h1>

<%= form_for_filterrific @filterrific do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.text_field :by_name,
                            placeholder: t(:filter_by),
                            id: :name,
                            class: 'filterrific-periodically-observed form-control' %>
        <%= form.text_field :by_code,
                            placeholder: t(:filter_by),
                            id: :code,
                            class: 'hide filterrific-periodically-observed form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.select :filter,
                        Product::AVAILABLE_FILTERS.map { |filter| [Product.humanize_filter(filter), filter] },
                        { selected: params[:filter] || Product::AVAILABLE_FILTERS.first },
                        id: :available_filters,
                        onchange: 'changeFilters()',
                        class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= render_filterrific_spinner %>
<% end %>

<%= render 'list', products: @products %>

<div>
  <%= link_to t('.new_product'), new_product_path, class: 'btn btn-default' %>
</div>
