<h4><%= t('.name') %></h4>
<p><%= @product.name %></p>

<h4><%= t('.code') %></h4>
<p><%= @product.code %></p>

<%= link_to t(:back), products_path, class: 'btn btn-default' %>
<%= link_to t('.edit'), edit_product_path(@product), class: 'btn btn-default pull-right' %>
