<!DOCTYPE html>
<html>
  <head>
    <title>MejoraTech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice.present? %>
        <div id="notice" class="alert alert-info fade in">
          <%= notice %>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
